$base-colors: (
  black: #000000,
  white: #ffffff
);

$UI-colors: (
  negative: #ef8181,
  positive: #90d8b0,
  warning: #f9dd8c,
  active: #7cb8fe
);

$shades-of-grey: (
  dark-grey: #1f2d3d,
  grey: #778f9b,
  light-grey: #b8c1cb,
  snow: #dde2e8
);
