$base-colors: (
	black: #000000,
	white: #ffffff,
);

$brand-colors: (
	first: #ef8181,
	second: #90d8b0,
	third: #f9dd8c,
	fourth: #7cb8fe,
);

$UI-colors: (
	negative: #ef8181,
	positive: #90d8b0,
	warning: #f9dd8c,
	active: #7cb8fe,
);

$shades-of-grey: (
	dark-grey: #1f2d3d,
	darken-grey: #3d3d3d,
	grey: #778f9b,
	light-grey: #b8c1cb,
	snow: #dde2e8,
);

@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:600|Roboto');

$default-font: sans-serif;
$header-font: 'Chakra Petch', sans-serif;
$text-font: 'Roboto', sans-serif;
