.movies-filter {
	display: block;
	padding: 1rem 0;

	form {
		display: flex;
		justify-content: space-between;
		height: 80px;

		& > div {
			width: 26%;

			label {
				display: block;
			}

			& > div {
				display: block;
				height: 50px;
			}
		}

		button {
			width: 14%;
		}
	}
}

.movie-view {
	display: block;

	&-inner {
		width: 100%;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			flex-flow: space-around;

			li {
				display: inline-block;
				width: 20%;
			}
		}
	}
}
